
  h1 {
    font-size: 4rem;
    color:saddlebrown;
  }
  h3 {
     
      color: #916617;
  }
  h4:hover {
    background:peru;
    color: white;
  }
    .biodata {
      font-size: 14px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      color:sienna;
    }
    p{
      font-size: 2rem;
      background-color:tan;
    }
    p::first-letter {
      font-size: 36px;
      color:lightslategray;
    }
    li::first-line {
      color:maroon;
    }
    .riwayat{
      font-size: 15px;
      background-color: lightgrey;
      width: 350px;
      height: 150px;
      border: 15px solid black;
      padding: 50px;
      margin: 20px;
    }
    .makanan{
      background:lightsalmon;
      height: 10px;
    }
    .minuman{
      background:lightsalmon;
      height: 10px;
    }
    .inline-block {
      background:bisque;
      width: 100px;
      height: 100px;
      margin: 4px;
      height: 100px;
      display: inline-block;
      color: brown;
    }
    .relative {
      position: relative;
      top: 40px;
    }

    #container p {
      background-color:rgb(163, 163, 95);
    }
    
    @media screen and (max-width: 700px){
      h1{
        font-size: 3rem;
      }

      p{
        font-size: 2rem;
      }


    }

    

